h3{
    color: aqua;
}
p{
    color:blue;
}
#tieude1{
    color:cadetblue
}
#tieude2{
    color:bisque;
}
#tieude3{
    color:blueviolet
}
.a{
    color: red;

}
.aa{
    color: yellow;

}
.aaa{
    color: blue;
}
.aaaa{
    color: black;
}
.ab{
    color:cornflowerblue;
}